In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [ ]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [4]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [5]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [6]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [ ]:
# media
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [8]:
# mediana
df_medidas["idade"].median()

np.float64(40.0)

In [9]:
# moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [11]:
# moda altura
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

## Medidas de Dispersão

In [12]:
# variancia
df_medidas.idade.var()

np.float64(509.94444444444446)

In [13]:
# desvio padrao
df_medidas.idade.std()

np.float64(22.58194952709895)

In [14]:
# coeficiente de variação
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.05253876167302)

In [15]:
# coeficiente de variação da altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(3.4803552812368785)

## Medidas de Forma

In [16]:
# Assimetria 
df_medidas.idade.skew()

np.float64(0.368108517895537)

In [17]:
# assimetria altura
df_medidas.altura.skew()

np.float64(-0.598486996170113)

In [18]:
# curtose
df_medidas.idade.kurtosis()

np.float64(-1.1344461075421046)

In [19]:
# curtose da altura
df_medidas.altura.kurtosis()

np.float64(-1.3372641199913002)

# Obter medidas estatiticas

In [20]:
df_medidas.idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

## Correlação

In [ ]:
# correlação do dataFrame
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [23]:
# correlaçao entre duas variaveis
df_medidas.idade.corr(df_medidas.altura)

np.float64(0.9310236045054339)

In [24]:
# correlação do dataframe, segundo spearman
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000

# Representação grafica